[buildout]
#FIXME: This should probably use a known good set or something similar
#It doesn't exist yet however

parts =
    voteit.core
    crontab-reboot
    crontab-pack

eggs =
    voteit.core
    voteit.schulze
    voteit.dutt
    voteit.site
    voteit.feed
    voteit.statistics
    voteit.cloudsignon
    voteit.whosonline
    voteit.tools
    supervisor
    waitress
    pyramid_exclog

#Managed by Mr Developer
develop =

newest = false
prefer-final = true
eggs-directory = ${buildout:directory}/eggs
download-cache =

extensions = 
    mr.developer

# mr.developer settings:
sources = sources
auto-checkout = *

versions = versions


[voteit.core]
recipe = zc.recipe.egg
dependent-scripts = true
unzip = true
eggs =
    ${buildout:eggs}
interpreter = py


[crontab-reboot]
recipe = z3c.recipe.usercrontab
times = @reboot
command = ${buildout:directory}/bin/supervisord


[crontab-pack]
#Pack database to remove old versioned objects
recipe = z3c.recipe.usercrontab
# m h   dom mon dow | pack thursday night
times = 00 04   * *  4
command = ${buildout:directory}/bin/zeopack -u ${buildout:directory}/var/ZEO.sock


[sources]
voteit.core = git git://github.com/VoteIT/voteit.core.git 
voteit.schulze = git git://github.com/VoteIT/voteit.schulze.git
voteit.dutt = git git://github.com/VoteIT/voteit.dutt.git
voteit.site = git git://github.com/VoteIT/voteit.site.git
voteit.feed = git git://github.com/VoteIT/voteit.feed.git
voteit.statistics = git git://github.com/VoteIT/voteit.statistics.git
voteit.cloudsignon = git git://github.com/VoteIT/voteit.cloudsignon.git
voteit.whosonline = git git://github.com/VoteIT/voteit.whosonline.git
voteit.tools = git git://github.com/VoteIT/voteit.tools.git


[versions]
pyramid = 1.2.4
deform = 0.9.5
colander = 0.9.5
pyramid-zcml = 0.9.2
