[buildout]
extends = buildout.cfg

parts +=
	pylint

parts -=
    crontab-reboot
    crontab-pack
    redis
    redis-build
    redis-server

eggs +=
    coverage
    nose


[pylint]
recipe = zc.recipe.egg
unzip = true
#Note: Importing all voteit.core dependencies makes pylint a lot slower.
#Remove that line if you need speed and don't care about checking imports
eggs =
    pylint
    ${buildout:eggs}
entry-points = pylint=pylint.lint:Run
arguments = sys.argv[1:]
